/* колір фону #F5F5F5 */
/* другорядний колір фону #F5F4FA */
/* герой і футер колір фону #2F303A */
/* колір тексту #212121 */
/* колір абзаців #757575 */
/* акцент #2196F3 */
/* білий #FFFFFF */
/* контакти у футері color: rgba(255, 255, 255, 0.6); */
:root {
  --black-color: #000000;
  --text-primary-color: #212121;
  --text-p-color: #757575;
  --primary-white-color: #ffffff;
  --background-secondary-color: #f5f4fa;
  --hero-footer-color--: #2f303a;
  --accent-color: #2196f3;
  --no-accent-color: #afb1b8;
  --primary-btn-accent-color--: #188ce8;
  --action-time: cubic-bezier(0.4, 0, 0.2, 1);
  --action-total-time: 250ms;
}

body {
  background-color: var(--primary-white-color);
  color: var(--text-primary-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.nav-list,
.contacts-list,
.section-list,
.footer-list {
  list-style-type: none;
}

.nav-list-link:hover,
.header-contacts:hover,
.footer-contacts:hover,
.address:hover,
.nav-list-link:focus,
.header-contacts:focus,
.footer-contacts:focus,
.address:focus {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
/* Налаштування контейнера */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.part {
  color: var(--accent-color);
}
/* nav */
.nav-list .link + .link {
  margin-left: 50px;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list-link.current {
  color: var(--accent-color);
}

.nav-list-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--action-total-time) var(--action-time);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;

  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

/* header contacts */
.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list .contact + .contact {
  margin-left: 40px;
}

.convert,
.phone {
  margin-right: 10px;
  fill: currentColor;
}

.convert:hover,
.phone:hover,
.convert:focus,
.phone:focus {
  fill: var(--accent-color);
}

.header-contacts {
  display: inline-flex;
  padding: 32px 0;

  color: var(--text-p-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;

  transition: color var(--action-total-time) var(--action-time);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Стилі index.html */
/* Hero */
.hero {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: var(--hero-footer-color--);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-hero.jpg);
  max-width: 1600px;
  height: 600px;
  background-position: center;
}

.hero-title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 4px;
}

.btn.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 24px;

  transition: background-color var(--action-total-time) var(--action-time),
    box-shadow var(--action-total-time) var(--action-time);
}

.btn.primary:hover,
.btn.primary:focus {
  background-color: var(--primary-btn-accent-color--);
}

/* Перелік рішень */
.section.features {
  padding-bottom: 0;
}

.section-list {
  display: flex;
}

.section-list .item {
  width: 270px;
}

.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--background-secondary-color);
}

.section-list .item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.item-desc {
  color: var(--text-p-color);
  line-height: 1.71;
}

/* Чим ми займаємося */
.section-list .img-list:not(:last-child) {
  margin-right: 30px;
}

.img-list {
  position: relative;
}

.img-desc {
  position: absolute;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  padding: 27px 0;
  bottom: 0;

  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* наша команда */
.team {
  background-color: var(--background-secondary-color);
}

.section-list-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-card {
  background-color: var(--primary-white-color);

  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-card:not(:last-child) {
  margin-right: 30px;
}
.team-card-desc {
  padding: 30px 0;
}

.section-list-item {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.media-list {
  display: flex;
  list-style-type: none;
  height: 44px;
  align-items: center;
  padding: 0 32px;
}

.media-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: var(--no-accent-color);
  border-radius: 50%;

  transition: background-color var(--action-total-time) var(--action-time),
    color var(--action-total-time) var(--action-time);
}

.media-list li:not(:last-child) {
  margin-right: 10px;
}

.media-link:hover,
.media-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.icon {
  display: flex;
  fill: currentColor;
}

.company-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.company-list li:not(:last-child) {
  margin-right: 30px;
}

.company-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--no-accent-color);
  border-radius: 4px;
  padding: 16px 32px;

  color: var(--no-accent-color);

  transition: color var(--action-total-time) var(--action-time),
    border-color var(--action-total-time) var(--action-time);
}

.company-link:hover,
.company-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.company-icon {
  fill: currentColor;
}

/* Стилі portfolio.html */
.btn-list,
.project-list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.btn-list {
  justify-content: center;
  margin-bottom: 50px;
}

.list-btn:not(:last-child) {
  margin-right: 8px;
}
.btn.secondary {
  padding: 6px 22px;

  background-color: var(--background-secondary-color);
  color: var(--text-primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: color var(--action-total-time) var(--action-time),
    background-color var(--action-total-time) var(--action-time),
    box-shadow var(--action-total-time) var(--action-time);
}

.btn.secondary:hover,
.btn.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-card {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-card:nth-child(3n) {
  margin-right: 0;
}

.project-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-link {
  display: block;
  text-decoration: none;

  transition: box-shadow var(--action-total-time) var(--action-time);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project-text,
.project-link:focus .project-text {
  transform: translateY(0%);
  opacity: 1;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.project-text {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  bottom: 0;

  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--action-total-time) var(--action-time),
    opacity var(--action-total-time) var(--action-time);

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.card-desc {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-title {
  margin-bottom: 4px;
  color: var(--text-primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-desc {
  color: var(--text-p-color);
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-footer-color--);
}

.footer .container {
  display: flex;
}

.foot {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;

  transition: color var(--action-total-time) var(--action-time);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;

  transition: color var(--action-total-time) var(--action-time);
}

/* приєднуйтесь */

.follow {
  margin-left: 70px;
}

.follow-list-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.follow-list {
  display: flex;
  list-style-type: none;
}

.follow-list li:not(:last-child) {
  margin-right: 10px;
}

.follow-media-link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;

  align-items: center;
  justify-content: center;

  color: var(--primary-white-color);

  transition: background-color var(--action-total-time) var(--action-time);
}

.follow-icon {
  fill: currentColor;
}

.follow-media-link:hover,
.follow-media-link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  color: var(--primary-white-color);
  margin-left: 93px;
}

.form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Модалка */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);

  transform: scale(100%);
  transition: opacity var(--action-total-time) var(--action-time),
    visibility var(--action-total-time) var(--action-time),
    transform var(--action-total-time) var(--action-time);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: scale(0%);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);

  padding: 40px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form label {
  margin-bottom: 2px;
}

.modal-form input {
  margin-bottom: 10px;
  border: 1px solid #000000;
}

.modal-form textarea {
  border: 1px solid #000000;
}
